
@font-face {
  font-family: 'space-head';
  src:  url('../fonts/space_age-webfont.woff2') format('woff2'),
          url('../fonts/space_age-webfont.woff') format('woff');
}


@font-face {
  font-family: 'alien-head';
  src:  url('../fonts/alienspace-webfont.woff2') format('woff2'),
          url('../fonts/alienspace-webfont.woff') format('woff');
}

label {
  width: 175px;
  text-align: left;
}


.all {
  padding: 15% 0;
}
 


#main {
  font-family: 'space-head', sans-serif;
  position: relative;
  text-align: center;
  /* font-size: 350%; */
  color:rgb(17, 17, 180);
  font-size: 3em;
  } 

#intro {
  position: relative;
  text-align: center;
}


#static1 {
  
  height: auto;
  border-radius: 50%;
  max-height: 20%;
  max-width: 20%;
  padding-right: ;
}


#static2 {
  height: auto;
  border-radius: 50%;
  max-height: 25%;
  max-width: 25%;
}

.animated{
  width: 35%;
  height: auto;
  border-radius: 25px;
  box-sizing: border-box;
  margin-left: 25px;
  margin-right: 25px;
 
}