
@font-face {
  font-family: 'space-head';
  src:  url('../fonts/space_age-webfont.woff2') format('woff2'),
          url('../fonts/space_age-webfont.woff') format('woff');
}


@font-face {
  font-family: 'alien-head';
  src:  url('../fonts/alienspace-webfont.woff2') format('woff2'),
          url('../fonts/alien-space-webfont.woff') format('woff');
}

label {
  width: 175px;
  text-align: left;
}


.all {
  padding: 15% 0;
}
 


#main {
  font-family: 'space-head', sans-serif;
  position: relative;
  text-align: center;
  font-size: 350%;
  color:blue
  } 

#intro {
  position: relative;
  text-align: center;
}


.static {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  
}

.animated{
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}