label {
  width: 175px;
  display: inline-block;
  font-family: verdana;
  text-align: left;
}


p {
  font-family: verdana;
  font-size: 14px;
  text-align: center;

}

h2 {
  font-family: verdana;
  text-align: center;
  color: blue;

}

h1 {
  font-family: verdana;
  text-align: center;
  color: blue;

}

form {
  font-family: verdana;
  text-align: center;
  color: blue;

}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size:2.5em;
}
a:hover{
	color:#d73444;
}
