<div class="all">
<h2>Login to Exoplanet Indexer</h2>
<br>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:"><br>
  <input type="password" name="password" placeholder="Password"><br>
<br><br>
  <input type="submit" id="submit" class="btn-primary btn-sm" role="button">
</form>
<br><br>
<p>No account yet?  <a href = "/signup"> Sign up. </a> </p>
</div>
