<html lang="en-US" style="height: 100%;">
<head>
  <title>Exoplanet Explorer</title>
 
</head>

<body>



<div class="container">
<center>
<br>
<img src="/images/Andasala.png" alt="a white exoplanet" class='static' id='static1'>
<img src="https://media.giphy.com/media/26ufkqtCTNTRHQbxC/giphy.gif" alt="Planet orbiting star" class='animated'>
<img src="/images/Exoplanet.jpg" alt="a blue exoplanet" class="static" id='static2'> 



</center>
<br>
  <div class="jumbotron">
  <div>
    <h1 id='main'>Exoplanet Explorer</h1>
      <br>
<div id='intro'>
      <p>Welcome to the Exoplanet Explorer.  Keep track of the latest discoveries right here.</p>
  <p><a href="/login">Login</a> to Exoplanet Explorer or <a href="/signup">create an account.</a></p>
  <p><small>Here for a demo?    Login with username "guest" and password "guest" to look around!<small></p>
</div>
  <br>
  <% if Helper.is_logged_in?(session) %>
  <%= "Logged In" %>     |     <a href="/planets">View All Planets</a>   |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
  <% end %>



</div>



</div></div>
</body>
</html>
