<html lang="en-US" style="height: 100%;">
<head>
  <title>Exoplanet Indexer</title>
</head>

<body id='body'>
<div class="container">
<center>
  <img src="/images/Andasala.png" alt="Andasala" height="250" width="300" id="left">
  <img src="/images/2stars.jpg" alt="Planet with Two Stars" height="250" width="350" id="center">
  <img src="/images/Exoplanet.jpg" alt="Planet with Two Stars" height="250" width="375" id="right">
</center>

  <div class="jumbotron">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Exoplanet Indexer!</h2>


      <p>Welcome to the Exoplanet Indexer.  Keep track of the latest discoveries right here.
  <p><a href="/login">Login</a> to Exoplanet Indexer or <a href="/signup">create an account.</a></p>
    </div>
  </div>





</div>
<br><br><br>
<% if Helper.is_logged_in?(session) %>
<%= "Logged In" %>  |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
<% end %>

</body>
</html>
