<div class="container">
  <header><img src="/images/2stars.jpg" class="main-image" alt="Planet with Two Stars" height="200" width="250"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Exoplanet Indexer!</h2>

    <div class="content">
      <p>Welcome to the Exoplanet Indexer.  If you're seeing this page, then everything is working
      as expected.
    </div>
  </div>


  <h5> <a href="/login">Login to Exoplanet Indexer </a></h5>
  or, <a href="/signup">create an account.</a>


</div>


<a href = "/stars/new"> New Star </a>
<a href = "/planets/new"> New Planet </a>
