<html lang="en-US" style="height: 100%;">
<head>
  <title>Exoplanet Indexer</title>
</head>

<body id='body'>
<div class="container">
  <header><img src="/images/2stars.jpg" class="main-image" alt="Planet with Two Stars" height="200" width="250"></header>

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Exoplanet Indexer!</h2>

    <div class="content">
      <p>Welcome to the Exoplanet Indexer.  Keep track of the latest discoveries right here.
    </div>
  </div>


  <h5> <a href="/login">Login to Exoplanet Indexer </a></h5>
  or, <a href="/signup">create an account.</a>


</div>
<br><br><br>

<a href = "/stars/new"> New Star </a>    |     <a href = "/planets/new"> New Planet </a>

</body>
</html>
