<html lang="en-US" style="height: 100%;">
<head>
  <title>Exoplanet Explorer</title>
 
</head>

<body>



<div class="container">
<center>
  <img src="/images/Andasala.png" alt="Andasala" height="250" width="300" id="left">
  <img src="/images/2stars.jpg" alt="Planet with Two Stars" height="250" width="350" id="center">
  <img src="/images/Exoplanet.jpg" alt="Planet with Two Stars" height="250" width="375" id="right">
</center>

  <div class="jumbotron">
  <div>
    <h1 id='main'>Exoplanet Explorer</h1>
      <br>
<div id='intro'>
      <p>Welcome to the Exoplanet Explorer.  Keep track of the latest discoveries right here.</p>
  <p><a href="/login">Login</a> to Exoplanet Explorer or <a href="/signup">create an account.</a></p>
  <p><small>Here for a demo?    Login with username "guest" and password "guest" to look around!<small></p>
</div>
  <br>
  <% if Helper.is_logged_in?(session) %>
  <%= "Logged In" %>     |     <a href="/planets">View All Planets</a>   |     <a href = '/logout'><%= "Log Out" if Helper.is_logged_in?(session) %></a>
  <% end %>



</div>



</div></div>
</body>
</html>
